@font-face {
  font-family: 'Moririse2';
  font-display: swap;
  src:  url('mobirise2.eot?f2bix4');
  src:  url('mobirise2.eot?f2bix4#iefix') format('embedded-opentype'),
    url('mobirise2.ttf?f2bix4') format('truetype'),
    url('mobirise2.woff?f2bix4') format('woff'),
    url('mobirise2.svg?f2bix4#mobirise2') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mobi-"], [class*=" mobi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Moririse2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ywgsgasvxdp-add-submenu:before {
  content: "\e900";
}
.ywgsgasvxdp-alert:before {
  content: "\e901";
}
.ywgsgasvxdp-align-center:before {
  content: "\e902";
}
.ywgsgasvxdp-align-justify:before {
  content: "\e903";
}
.ywgsgasvxdp-align-left:before {
  content: "\e904";
}
.ywgsgasvxdp-align-right:before {
  content: "\e905";
}
.hfxdwijvstsyfj:before {
  content: "\e906";
}
.ywgsgasvxdp-apple:before {
  content: "\e907";
}
.ywgsgasvxdp-arrow-down:before {
  content: "\e908";
}
.ywgsgasvxdp-arrow-next:before {
  content: "\e909";
}
.ywgsgasvxdp-arrow-prev:before {
  content: "\e90a";
}
.ywgsgasvxdp-arrow-up:before {
  content: "\e90b";
}
.ywgsgasvxdp-bold:before {
  content: "\e90c";
}
.ywgsgasvxdp-bookmark:before {
  content: "\e90d";
}
.ywgsgasvxdp-bootstrap:before {
  content: "\e90e";
}
.ywgsgasvxdp-briefcase:before {
  content: "\e90f";
}
.ywgsgasvxdp-browse:before {
  content: "\e910";
}
.ywgsgasvxdp-bulleted-list:before {
  content: "\e911";
}
.ywgsgasvxdp-calendar:before {
  content: "\e912";
}
.ywgsgasvxdp-camera:before {
  content: "\e913";
}
.ywgsgasvxdp-cart-add:before {
  content: "\e914";
}
.ywgsgasvxdp-cart-full:before {
  content: "\e915";
}
.ywgsgasvxdp-cash:before {
  content: "\e916";
}
.ywgsgasvxdp-change-style:before {
  content: "\e917";
}
.ywgsgasvxdp-chat:before {
  content: "\e918";
}
.ywgsgasvxdp-clock:before {
  content: "\e919";
}
.ywgsgasvxdp-close:before {
  content: "\e91a";
}
.ywgsgasvxdp-cloud:before {
  content: "\e91b";
}
.ywgsgasvxdp-code:before {
  content: "\e91c";
}
.ywgsgasvxdp-contact-form:before {
  content: "\e91d";
}
.ywgsgasvxdp-credit-card:before {
  content: "\e91e";
}
.ywgsgasvxdp-cursor-click:before {
  content: "\e91f";
}
.ywgsgasvxdp-cust-feedback:before {
  content: "\e920";
}
.ywgsgasvxdp-database:before {
  content: "\e921";
}
.ywgsgasvxdp-delivery:before {
  content: "\e922";
}
.ywgsgasvxdp-desktop:before {
  content: "\e923";
}
.iojarxdxrg:before {
  content: "\e924";
}
.ywgsgasvxdp-down:before {
  content: "\e925";
}
.yszdoeehqdxkc:before {
  content: "\e926";
}
.ywgsgasvxdp-download:before {
  content: "\e927";
}
.ywgsgasvxdp-drag-n-drop-2:before {
  content: "\e928";
}
.ywgsgasvxdp-drag-n-drop:before {
  content: "\e929";
}
.ywgsgasvxdp-edit-2:before {
  content: "\e92a";
}
.ywgsgasvxdp-edit:before {
  content: "\e92b";
}
.ywgsgasvxdp-error:before {
  content: "\e92c";
}
.ywgsgasvxdp-extension:before {
  content: "\e92d";
}
.yhejexfaydz:before {
  content: "\e92e";
}
.ywgsgasvxdp-file:before {
  content: "\e92f";
}
.ywgsgasvxdp-flag:before {
  content: "\e930";
}
.ywgsgasvxdp-folder:before {
  content: "\e931";
}
.ywgsgasvxdp-gift:before {
  content: "\e932";
}
.ywgsgasvxdp-github:before {
  content: "\e933";
}
.ywgsgasvxdp-globe-2:before {
  content: "\e934";
}
.ywgsgasvxdp-globe:before {
  content: "\e935";
}
.jziyietykzxphd:before {
  content: "\e936";
}
.ywgsgasvxdp-hearth:before {
  content: "\e937";
}
.ywgsgasvxdp-help:before {
  content: "\e938";
}
.ywgsgasvxdp-home:before {
  content: "\e939";
}
.ywgsgasvxdp-hot-cup:before {
  content: "\e93a";
}
.ywgsgasvxdp-idea:before {
  content: "\e93b";
}
.wfrrlhzpoqv:before {
  content: "\e93c";
}
.ywgsgasvxdp-image-slider:before {
  content: "\e93d";
}
.ywgsgasvxdp-info:before {
  content: "\e93e";
}
.ywgsgasvxdp-italic:before {
  content: "\e93f";
}
.ywgsgasvxdp-key:before {
  content: "\e940";
}
.ywgsgasvxdp-laptop:before {
  content: "\e941";
}
.ywgsgasvxdp-layers:before {
  content: "\e942";
}
.ywgsgasvxdp-left-right:before {
  content: "\e943";
}
.ywgsgasvxdp-left:before {
  content: "\e944";
}
.ywgsgasvxdp-letter:before {
  content: "\e945";
}
.ywgsgasvxdp-like:before {
  content: "\e946";
}
.ywgsgasvxdp-link:before {
  content: "\e947";
}
.ywgsgasvxdp-lock:before {
  content: "\e948";
}
.ywgsgasvxdp-login:before {
  content: "\e949";
}
.ywgsgasvxdp-logout:before {
  content: "\e94a";
}
.ywgsgasvxdp-magic-stick:before {
  content: "\e94b";
}
.ywgsgasvxdp-map-pin:before {
  content: "\e94c";
}
.ywgsgasvxdp-menu:before {
  content: "\e94d";
}
.ywgsgasvxdp-mobile-2:before {
  content: "\e94e";
}
.ywgsgasvxdp-mobile-horizontal:before {
  content: "\e94f";
}
.ywgsgasvxdp-mobile:before {
  content: "\e950";
}
.ywgsgasvxdp-mobirise:before {
  content: "\e951";
}
.ywgsgasvxdp-more-horizontal:before {
  content: "\e952";
}
.ywgsgasvxdp-more-vertical:before {
  content: "\e953";
}
.ywgsgasvxdp-music:before {
  content: "\e954";
}
.ywgsgasvxdp-new-file:before {
  content: "\e955";
}
.ywgsgasvxdp-numbered-list:before {
  content: "\e956";
}
.ywgsgasvxdp-opened-folder:before {
  content: "\e957";
}
.ywgsgasvxdp-pages:before {
  content: "\e958";
}
.ywgsgasvxdp-paper-plane:before {
  content: "\e959";
}
.ywgsgasvxdp-paperclip:before {
  content: "\e95a";
}
.ywgsgasvxdp-phone:before {
  content: "\e95b";
}
.ywgsgasvxdp-photo:before {
  content: "\e95c";
}
.ywgsgasvxdp-photos:before {
  content: "\e95d";
}
.ywgsgasvxdp-pin:before {
  content: "\e95e";
}
.ywgsgasvxdp-play:before {
  content: "\e95f";
}
.urockeqhcu:before {
  content: "\e960";
}
.ywgsgasvxdp-preview:before {
  content: "\e961";
}
.ywgsgasvxdp-print:before {
  content: "\e962";
}
.ywgsgasvxdp-protect:before {
  content: "\e963";
}
.ywgsgasvxdp-question:before {
  content: "\e964";
}
.ywgsgasvxdp-quote-left:before {
  content: "\e965";
}
.ywgsgasvxdp-quote-right:before {
  content: "\e966";
}
.ywgsgasvxdp-redo:before {
  content: "\e967";
}
.ywgsgasvxdp-refresh:before {
  content: "\e968";
}
.ywgsgasvxdp-responsive-2:before {
  content: "\e969";
}
.ywgsgasvxdp-responsive:before {
  content: "\e96a";
}
.ywgsgasvxdp-right:before {
  content: "\e96b";
}
.ywgsgasvxdp-rocket:before {
  content: "\e96c";
}
.ywgsgasvxdp-sad-face:before {
  content: "\e96d";
}
.ywgsgasvxdp-sale:before {
  content: "\e96e";
}
.ywgsgasvxdp-save:before {
  content: "\e96f";
}
.ywgsgasvxdp-search:before {
  content: "\e970";
}
.ywgsgasvxdp-setting-2:before {
  content: "\e971";
}
.ywgsgasvxdp-setting-3:before {
  content: "\e972";
}
.ywgsgasvxdp-setting:before {
  content: "\e973";
}
.ywgsgasvxdp-share:before {
  content: "\e974";
}
.ywgsgasvxdp-shopping-bag:before {
  content: "\e975";
}
.ywgsgasvxdp-shopping-basket:before {
  content: "\e976";
}
.ywgsgasvxdp-shopping-cart:before {
  content: "\e977";
}
.ywgsgasvxdp-sites:before {
  content: "\e978";
}
.ywgsgasvxdp-smile-face:before {
  content: "\e979";
}
.ywgsgasvxdp-speed:before {
  content: "\e97a";
}
.ywgsgasvxdp-star:before {
  content: "\e97b";
}
.ywgsgasvxdp-success:before {
  content: "\e97c";
}
.ywgsgasvxdp-sun:before {
  content: "\e97d";
}
.ywgsgasvxdp-sun2:before {
  content: "\e97e";
}
.ywgsgasvxdp-tablet-vertical:before {
  content: "\e97f";
}
.ywgsgasvxdp-tablet:before {
  content: "\e980";
}
.ywgsgasvxdp-target:before {
  content: "\e981";
}
.ywgsgasvxdp-timer:before {
  content: "\e982";
}
.ywgsgasvxdp-to-ftp:before {
  content: "\e983";
}
.ywgsgasvxdp-to-local-drive:before {
  content: "\e984";
}
.ywgsgasvxdp-touch-swipe:before {
  content: "\e985";
}
.ywgsgasvxdp-touch:before {
  content: "\e986";
}
.ywgsgasvxdp-trash:before {
  content: "\e987";
}
.ywgsgasvxdp-underline:before {
  content: "\e988";
}
.ywgsgasvxdp-undo:before {
  content: "\e989";
}
.ywgsgasvxdp-unlink:before {
  content: "\e98a";
}
.ywgsgasvxdp-unlock:before {
  content: "\e98b";
}
.ywgsgasvxdp-up-down:before {
  content: "\e98c";
}
.ywgsgasvxdp-up:before {
  content: "\e98d";
}
.ywgsgasvxdp-update:before {
  content: "\e98e";
}
.ywgsgasvxdp-upload-2:before {
  content: "\e98f";
}
.ywgsgasvxdp-upload:before {
  content: "\e990";
}
.ywgsgasvxdp-user-2:before {
  content: "\e991";
}
.ywgsgasvxdp-user:before {
  content: "\e992";
}
.ywgsgasvxdp-users:before {
  content: "\e993";
}
.ywgsgasvxdp-video-play:before {
  content: "\e994";
}
.ywgsgasvxdp-video:before {
  content: "\e995";
}
.ywgsgasvxdp-watch:before {
  content: "\e996";
}
.ywgsgasvxdp-website-theme-2:before {
  content: "\e997";
}
.ywgsgasvxdp-website-theme:before {
  content: "\e998";
}
.ywgsgasvxdp-wifi:before {
  content: "\e999";
}
.ywgsgasvxdp-windows:before {
  content: "\e99a";
}
.ywgsgasvxdp-zoom-in:before {
  content: "\e99b";
}
.ywgsgasvxdp-zoom-out:before {
  content: "\e99c";
}
